@charset "UTF-8";
/* 共通部分 -------------------------------- */
html {
  font-size: 100%;
}
body {
  font-family: serif;
  background: #eddcbc;
  color: #1c315d;
}
a {
  text-decoration: none;
}
/* ヘッダー部分 ------------------------------- */
.main-nav {
  list-style: none;
  display: flex;
  margin-top: 34px;
}
.main-nav li {
  margin-left: 100px;
}
.main-nav a {
  color: #1c315d;
  font-weight: bold;
}
.main-nav a:hover {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #47763c;
}
.header-logo a {
  color: #1c315d;
}
/* HOME --------------------------------------- */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.instruction {
  position: relative;
  text-align: center;
}
.instruction a {
  color: white;
  background-color: #47763c;
  padding: 12px 24px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 120px;
  position: absolute;
  top: 150px;
  left: 43%;
}
.instruction a:hover {
  opacity: 0.7;
}
.lure-name {
  font-size: 30px;
  margin-bottom: -30px;
}
.instruction img {
  margin-top: -200px;
  max-width: 1200px;
}
/* フッター部分 ---------------------------------- */
footer {
  height: 200px;
}
footer a {
  color: #1c315d;
}
.footer-contents {
  border-top: 2px solid #47763c;
  display: flex;
  justify-content: space-between;
}
.footer-nav {
  margin-top: 38px;
}
.footer-nav li {
  list-style: none;
  margin-top: 15px;
}
.footer-nav a {
  color: #1c315d;
}
.footer-nav a:hover {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
/*  お問い合わせ ---------------------------------- */
form {
  border-bottom: 1px solid #47763c;
}
form div {
  margin-bottom: 10px;
}
label {
  font-size: 15px
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, .2);
  border: 1px solid #47763c;
  border-radius: 4px;
  padding-top: 10px;
  font-size: 15px;
}
textarea {
  width: 500px;
  height: 60px;
}
input[type="submit"] {
  border-radius: 4px;
  background-color: #47763c;
  opacity: 0.8;
  padding: 10px 40px;
  margin-bottom: 30px;
  color: #1c315d;
  box-shadow: 0px 4px #000;
}
input[type="submit"]:hover {
  opacity: 1;
}
input[type="submit"]:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}
#sns {
  margin-bottom: 150px;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
.sub-title {
  border-bottom: 1px solid #47763c;
}
.sns-box {
  width: 30%;
}
/* ラインナップ部分 ----------------------------------- */
h3.lineup-title {
  font-size: 30px;
  text-align: center;
}
.parent-lineup {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.yard-items {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}
